@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
:root {
  --primary-font-color: hsl(240, 38%, 20%);
  --secondary-font-color: hsl(240, 18%, 77%);
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.testimony {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8rem 2rem;
}

.testimony .image-and-nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-left: -9rem;
}

.testimony .image-and-nav .profile-nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  z-index: 10;
}

.testimony .image-and-nav .bg-pattern {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.testimony .text-section {
  display: -ms-grid;
  display: grid;
}

.testimony .quotes {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-top: -2.2rem;
  margin-left: 6rem;
}

.testimony .text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  z-index: 200;
  color: var(--primary-font-color);
}

.testimony .text .hero-text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 2rem;
  font-weight: 300;
  max-width: 40rem;
}

.testimony .text .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
}

.testimony .text .info .name {
  font-weight: 700;
  padding-right: .5rem;
}

.testimony .text .info .title {
  color: var(--secondary-font-color);
}

.slider-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: -1.7rem 0;
  z-index: 1000;
}

.slider-buttons button {
  height: 3rem;
  width: 3rem;
  border-style: none;
}

.slider-buttons #next {
  border-radius: 0 3rem 3rem 0;
}

.slider-buttons #prev {
  border-radius: 3rem 0 0 3rem;
  margin-left: 5rem;
}

.bottom-curve {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1000;
  max-width: 100vw;
}

@media (max-width: 950px) {
  .testimony {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
    text-align: center;
  }
  .testimony .image-and-nav {
    margin: 0 auto;
  }
  .testimony .image-and-nav .profile-pic {
    max-width: 65vw;
  }
  .testimony .image-and-nav .bg-pattern {
    max-width: 98%;
  }
  .testimony .text-section {
    margin-top: 3rem;
  }
  .testimony .quotes {
    margin: 0 auto;
    width: 4.1rem;
  }
  .testimony .text .hero-text {
    font-size: 1.5rem;
  }
  .testimony .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimony .info p {
    margin: 0;
  }
  .slider-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider-buttons #prev {
    margin-left: 0rem;
  }
}
/*# sourceMappingURL=style.css.map */